@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 40%;
    left: 94.5%;
    display: block;
    color: white;
    width: auto;
    height: auto;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: #f69024;
    z-index: 999 !important;
}


.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: #265e3d;
    outline: none;
    background: white;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: 1;
}



.slick-prev
{
    left: 5px;
}
[dir='rtl'] .slick-prev
{
    right: 5px;
    left: auto;
}


button.slick-next
{
    width: 70px;
    height: auto;
    padding:5px;
    background-color: #f69024;
    right: 5px;

}
button.slick-prev
{
    width: 70px;
    height: auto;
    padding:5px;
    background-color: #f69024;
    left: 5px;

}

[dir='rtl'] .slick-next
{
    right: auto;
    left: 5px;
}


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 10px;
}

.slick-dots
{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 5px;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    background-color: #f69024;
    border-radius: 10px;
    cursor: pointer;
}
.slick-dots li button
{
    position: relative;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
    background-color: green;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    background-color: #265e3d;
    border-radius: 50px;
}
